
.container {
    width: 600px;
    height: 300px;
    border: 300px;
    background-color: #023047ff;
    border: 6px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: white;
    
}
.score {
    border: none;
    border-radius: 5px;
    background-color: black;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #9b2226ff;
    font-family: "Doto", sans-serif;;
    font-size: 60px;
    font-weight: bolder;
    text-decoration-thickness: 10px;
    text-decoration-style: dotted;
}
button {
    background-color: #023047ff;
    color: white;

}
h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 40px;
}
    
